<h1>
  {{isNewCompany ? "Add":"Edit"}} Company {{company.name}}

</h1>
<div class="well">
  <form (ngSubmit)="saveCompany()" #companyForm="ngForm"  >
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" #name="ngModel" required [(ngModel)]="company.name" class="form-control">
      <div class="alert alert-danger" [hidden]="name.valid || name.pristine" >
        Name required
      </div>      
    </div>
    <div class="form-group">
      <label for="name">Email:</label>
      <input type="text" name="email" #email="ngModel" [(ngModel)]="company.email" class="form-control">      
    </div>
    <div class="form-group">
      <label for="name">Phone:</label>
      <input type="text" name="phone" #phone="ngModel" [(ngModel)]="company.phone" class="form-control">      
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>